#main-content {
  width: 1024px;
  margin: 0 auto;
  margin-top: 50px;
}

#header {
  text-align: center;  
}

.autocomplete-list {
  display: none;
  position: absolute;
  background: white;
}

.autocomplete-list ul {
  list-style: none;
  padding: 0;
}

.autocomplete-list li:hover,.autocomplete-list li.highlighted {
  background: #88F;
}

#what-input {
  width: 400px;
}

#body>div {
  float: left;
}

#body #right-players {
  float: right;
}

#body:after {
  clear: both;
}